<div class="container">
    <div class="login-box">
        <div class="inner-container">
          <div [hidden]="showLogin">
            <input type="text" class="login-input" placeholder="Nickname" [(ngModel)]="nickname"/>
            <button (click)="login()" class="login-button">Login</button>
          </div>
          <div [hidden]="!showLogin">
            <div>
              <p class="login-msg" >Looks like we havent met before!</p>
              <p class="login-msg">Enter your name to complete signup!</p>
            </div>
            <input type="text" class="login-input" placeholder="Name" [(ngModel)]="name"/>
            <button (click)="signup()" class="login-button">Signup</button>
            <p class="login-msg">Go back to <span (click)="showLogin = !showLogin">login</span></p>
          </div>
        </div>
    </div>
</div>
