<div class="container">
  <div class="header">
    <p class="login-text">Welcome <span>{{sender}}</span></p>
    <div class="logout" (click)="logout()">Logout</div>
  </div>

  <div class="users-list" *ngIf="availableUsers.length > 0">
    <p class="user-text">Click on the name to talk to that person - </p>
    <div class="user-container">
      <div class="user" *ngFor="let user of availableUsers"  (click)="startChat(user)">
        <p *ngIf="user != sender">{{user}}</p>
      </div>
    </div>
  </div>
  <div class="no-users" *ngIf="!availableUsers || availableUsers.length == 0">
    <p>Looks like no one is available right now.</p>
  </div>
</div>
